<div
  id="stimulus_target_<%= trade.stock_symbol %>"
  data-controller="trade-updater"
  data-trade-updater-symbol-value="<%= trade.stock_symbol %>"
  data-trade-updater-price-value="<%= trade.price %>"
  data-trade-updater-time-value="<%= trade.formatted_timestamp %>"
></div>
